*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --color1: #1b065e;
  --color2: #ff47da;
  --color3: #ff87ab;
  --color4: #fcc8c2;
  --color5: #f7df94;
  --color6: #1e1e1e;
}

body {
  background-color: var(--color1);
  color: white;
  font-family: Lato, sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Header */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color5);
  color: var(--color1);
  width: 90%;
  height: 10rem;
  margin: 0 auto;
  border-radius: 2.5rem;
  border: var(--color6) solid 4px;
  position: fixed;
  left: 5%;
  top: 2%;
}
.head__logo {
  height: 20rem;
  position: relative;
  right: 6rem;
}
.head__hamburger {
  position: absolute;
  right: 2rem;
}

/* Navigation */
.navig--hidden {
  display: none;
}

/* Section Presentation */
