*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --color1: #1B065E;
  --color2: #FF47DA;
  --color3: #FF87AB;
  --color4: #FCC8C2;
  --color5: #F5ECCD;
  --color6: #1E1E1E;
}

body {
  background-color: var(--color1);
  color: white;
  font-family: Lato, sans-serif;
  margin: 0;
}


.navbar {
  border-bottom: white solid 1px;
  display: flex;
  width: fit-content;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar ul{
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 50px;
  
}

.navbar li {
  padding: 0px 10px 0px 10px;
  line-height: 50px;
}

.active {
  background-color: var(--color5);
  color: black;
}

.presentation{
  font-family: Oswald, sans-serif;
  margin-top: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 600px;
}

.presentation-txt{
  flex-basis: 25%;
  margin-right: 100px;
}

.presentation-img{
  width: 172px;
  height: 243px;
}

.subtitle{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.title{
  font-size: 60px;
  font-weight: normal;
}

.header-top{
  display: none;
}

.hamburger-menu-hidden{
  display: none;
}

/**********  MEDIA QUERIES **********/
/*Medium devices (tablets, less/equal than 1024px)*/

@media (max-width: 1024px){
  .header-top{
    display: flex;
    justify-content: space-between;
  }

  .navbar {
    display: none;
  }

  .presentation-img{
    display: none;
  }

  .subtitle{
    display: none;
  }

  .title{
    content: "Intégrateur Web en développement en React";
  }

  .presentation{
    margin: 0px;
    text-align: left;
  }

  .hamburger-menu{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color5);
    height: 100vh;
    width: 50vw;
    color: var(--color6);
    text-align: center;
  }

  .list-sections{
    list-style-type: none;
  }

}

/*Small devices (phones, less/equal than 768px)*/
@media (max-width: 768px){

  .name {
    font-size: 30px;
    flex-basis: 20%;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
    line-height: 40px;
  }

  .hamburger {
    margin-right: 40px;
    margin-top: 30px;
  }

  .title{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 30px;
  }

}