*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --color1: #1B065E;
  --color2: #FF47DA;
  --color3: #FF87AB;
  --color4: #FCC8C2;
  /*--color5: #D3D3D3;*/
  --color5: #F7DF94;
  --color6: #1E1E1E;
}

body {
  background-color: var(--color1);
  color: white;
  font-family: Lato, sans-serif;
  margin: 0;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.section-active{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.active{
  background-color: var(--color5);
  color: var(--color6);
}

.projects{
  order: 1;
}

.certifications{
  order: 2;
}

.certifications .cards-header{
  margin-top: 0px;
}

.knowledge{
  order: 3;
}

.contact{
  order: 4;
}


.navbar {
  border-bottom: white solid 1px;
  display: flex;
  width: fit-content;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar ul{
  list-style-type: none;
  display: flex;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 50px;
  
}

.navbar li {
  padding: 0px 10px 0px 10px;
  line-height: 50px;
}

.box-active {
  background-color: var(--color5);
  width: 30%;
}

.presentation{
  font-family: Oswald, sans-serif;
  margin-top: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 600px;
  margin-bottom: 100px;
}

.presentation-txt{
  flex-basis: 25%;
  margin-right: 100px;
}

.presentation-img{
  width: 172px;
  height: 243px;
}

.subtitle{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.title{
  font-size: 60px;
  font-weight: normal;
}

.header-top{
  display: none;
}

.hamburger-menu{
  display: none;
}

.hamburger-menu-hidden{
  display: none;
}

.cards{
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
  color: var(--color6);
  background-color: var(--color5);
  flex-direction: column;
  border-radius: 25px;
  height: 45vh;
  width: 800px;
  position: relative;
  /*border: #C9F0DC solid 5px;*/
}

.cards-main{
  display: flex;
  justify-content: space-around;
}

.cards-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

.cards-header-title{
  margin-left: 5vw;
}

.cards-main{
  display: flex;
}

.projects .cards-header{
  margin-top: -20px;
}

.cards-box{
  margin-left: 2vw;
  width: fit-content;
  margin-bottom: 2vh;
}

.cards-box-title{
  margin-bottom: 2vh;
  width: fit-content;
}

.box-knowledge{
  padding-left: 5vw;
}

.titles-knowledge{
  border-bottom: 5px solid var(--color6);
}

.knowledge li{
  list-style-type: none;
  margin-top: 2vh;
}

.knowledge-icons{
  margin-right: 5vw;
}

.img{
  object-fit: cover;
  width: 23vw;
  height: 4vh;
}

/*.box-projects{
  text-align: center;
  width: 35vw;
  background-color: var(--color4);
  border-radius: 25px;
  padding-top: 2vh;
  height: 30vh;
}*/

.titles-projects{
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.box-certifications{
  background-color: var(--color4);
  position: absolute;
}

.left-arrow{
  position: absolute;
  left: 10vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.right-arrow{
  position: absolute;
  right: 10vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.projet{
  color: var(--color6);
  height: 300px;
  margin-top: -100px;
}

.projet1{
  background-image: url('assets/ridingcitiesblur.png');
  background-position: center;
  background-size: cover;
}

.projet2{
  background-image: url('assets/booki.png');
  background-position: center;
  background-size: cover;
}

.projet3{
  background-image: url('assets/food.png');
  background-position: center;
  background-size: cover;
}

.projet4{
  background-image: url('assets/print.png');
  background-position: center;
  background-size: cover;
}

.projet5{
  background-image: url('assets/sophie.png');
  background-position: center;
  background-size: cover;
}

.projet6{
  background-image: url('assets/kasa.png');
  background-position: center;
  background-size: cover;
}

.projet7{
  background-image: url('assets/nina.png');
  background-position: center;
  background-size: cover;
}

.projet8{
  background-image: url('assets/724events.png');
  background-position: center;
  background-size: cover;
}

.projet9{
  background-image: url('assets/bank.png');
  background-position: center;
  background-size: cover;
}

.certification{
  background-size: cover;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  height: 320px;
  margin-top: -100px;
  color: white;
  width: 750px;
}

.knowledge .cards-box{
  margin-left: -200px;
}

.box-active p{
  margin-top: 18vh;
  text-align: center;
  /*background-color: var(--color1);*/
}

.box-active h3{
  padding-top: 2vh;
 /* background-color: var(--color1);*/
}

.certification p{
  font-size: 32px;
  margin-top: 5vh;
}

.contact-main{
  margin-top: -4vh;
}

.contact-main label, .contact-main button{
  display: block;
}

.contact-main input, .contact-main textarea{
  width: 600px;
  border-radius: 25px;
  border: 1px solid var(--color6);
  height: 40px;
  color: white;
}

.contact-main textarea{
  height: 12vh;
}

.contact-main button{
  margin-left: 7vw;
  margin-top: 2vh;
  width: 100px;
  border-radius: 25px;
  border: 1px solid var(--color6);
  padding: 1vh;
  background-color: var(--color6);
  color: var(--color5);
  font-size: 20px;
}

.contact-main label{
  margin-left: 0px;
  margin-top: 2vh;
  font-size: 20px;
}

.copyright{
  margin: 1vh;
  text-align: center;
  font-size: 12px;
}

.contact{
  height: 80vh;
  width: 800px;
}

.contact-main{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.contact .cards-header{
  margin-bottom: -10vh;
  margin-top: -5vh;
}

.contact .consentement{
  margin-top: 2vh;
  justify-content: center;
  margin-left: 0vw;
  margin-right: 15vw;
  font-size: 12px;
}

.box-hidden{
  display: inline-block;
  width: 100vw;
}

.box-hidden{
  display: none;
}

.certifications article{
  background-image: url('assets/certifications.png');
  background-size: cover;
  background-position: 50% 40%;
}

.certifications h3{
  padding-top: 6vh;
}

.certifications p{
  text-align: center;
}

.certification-active{
  height: 32vh;
}


/**********  MEDIA QUERIES **********/
/*Medium devices (tablets, less/equal than 1024px)*/

@media (max-width: 1024px){
  .header-top{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0vh;
  }

  /*.menu-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--color1);
    margin-bottom: 10vh;
    border-bottom: #e9e9e9 solid 4px;
  }*/

  .content{
    position: relative;
    margin-top: 15vh;
    z-index: 0;
    overflow: hidden;
  }

  .name{
    font-size: 40px;
    width: 20vw;
  }

  .title{
    margin-top: 2vh;
    width: 90vw;
    text-align: center;
    margin-left: 10vw;
  }

  .content{
    flex-direction: column;
  }

  .knowledge{
    order: 1;
  }

  .projects{
    order: 2;
  }

  .certifications{
    order: 3;
  }

  .contact{
    order: 4;
  }

  .section-active{
    animation: none;
  }

  .navbar {
    display: none;
  }

  .presentation-img{
    display: none;
  }

  .subtitle{
    margin-left: 8vw;
    margin-top: 7vh;
    text-align: center;
  }

  .title{
    content: "Intégrateur Web en développement en React";
  }

  .presentation{
    margin: 0px;
    text-align: left;
  }

  .hamburger-menu{
    padding-top: 10vh;
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color5);
    height: 100vh;
    width: 100vw;
    color: var(--color6);
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 24px;
  }

  .mark-menu{
    position: absolute;
    right: 2vh;
    top: 2vh;
  }

  .list-sections{
    margin-top: 10vh;
    font-weight: bold;
  }

  .list-sections li{
    margin-bottom: 5vh;
  }

  .list-sections li a{
    color: var(--color6);
    text-decoration: none;
  }

  .box-hidden{
    display: none;
  }

}

/*Small devices (phones, less/equal than 768px)*/
@media (max-width: 768px){

  .logo {
    top: -5vh;
    left: -12vw;
    width: 70vw;
    position: fixed;
    z-index: 200;
  }

  .hamburger {
    position: fixed;
    z-index: 100;
    top: 2vh;
    right: 7vw;
    color: white;
    background-color: #464646;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 70vw;
    padding-right: 4vw;
    border-radius: 25px;
  }

  .title{
    font-size: 40px;
    margin-left: 25vw;
    text-align: center;
    width: auto;
  }

  .subtitle{
    font-size : 10vw;
    margin-left: 25vw;
  }

  .cards{
    width: 95vw;
  }

  .knowledge .cards-box{
    margin-left: 0px;
    margin-right: 0px; 
  }

  .projet{
    width: 85vw;
    height: 35vh;
    margin-top: -6vh;
    margin-left: -2vw;
    color: white;
  }

  .certification{
    width: 85vw;
    height: 35vh;
    margin-top: -6vh;
  }

  .contact-main input, .contact-main textarea {
    width: 70vw;
    margin-left: -15vw;
    height: 4vh;
  }

  .contact-main label{
    font-size: 14px;
    margin-left: -12vw;
  }

  .contact-main textarea{
    height: 14vh;
  }

  input::placeholder, textarea::placeholder{
    position: relative;
    padding-left: 3vw;
    
  }

  .consentement{
    display: flex;
    align-items: center;
  }

  .consentement label{
    margin-left: 0vw;
  }

  .projects .cards-header{
    margin-top: 0vh;
  }

  .certifications .cards-header{
    margin-top: 2vh;
  }

  .active{
    height: 35vh;
  }

  .header-top{
    margin-left: 0px;
    margin-right: 0px;
  }

  .projet h3{
    font-size: 10vw;
  }

  .projet p{
    font-size: 6vw;
    line-height: 8vw;
    padding-bottom: 50px;
  }

.certification-active{
  margin-bottom: 20px;
}

}